/*
@font-face {
  font-family: 'InterVariable';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('InterVariable.woff2?v=4') format('woff2');
}
@font-face {
  font-family: 'InterVariable';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('InterVariable-Italic.woff2?v=4') format('woff2');
} */

:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}