@font-face {
  font-family: 'InterVariable';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('InterVariable-v4.woff2') format('woff2');
}
@font-face {
  font-family: 'InterVariable';
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: 'Italic';
  src: url('InterVariable-Italic-v4.woff2') format('woff2');
}
